@{
    ViewBag.Title = "Home Page";
}

@section featured
{}

<div id="container">
<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="log"></div>
</div>

@section scripts
{
    <!-- JIT Library File -->
    <!--[if IE]><script language="javascript" type="text/javascript" src="~/Scripts/excanvas.js"></script><![endif]-->
    <script src="~/Scripts/jit.js"></script>
    <script src="~/Scripts/pathways.js"></script>
    <script type="text/javascript">
        var data = { @Html.Raw((string)ViewBag.Data.ToString()) };
        window.onload = function () { init(data); };
    </script>
}