@model EducationPathways.Web.Models.AnswerViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.BeginForm()
{
    <p>What is 1 + 1?</p>
    @Html.TextBoxFor(model => model.Answer)
    @Html.HiddenFor(model => model.StartDate)
}